shared/schemas/NRecoWebLayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:schemas-nreco:nreco:web:layout:v1" 
			xmlns="urn:schemas-nreco:nreco:web:layout:v1" 
			elementFormDefault="qualified"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:vs="http://schemas.microsoft.com/Visual-Studio-Intellisense">

	<xs:group name="viewGroup">
		<xs:choice>
			<xs:element ref="form" />
			<xs:element ref="list" />
		</xs:choice>
	</xs:group>

	<xs:group name="datasourceGroup">
		<xs:choice>
			<xs:element name="dalc">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="conditon" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="sourcename" type="xs:string" use="required"/>
					<xs:attribute name="selectsourcename" type="xs:string" use="optional"/>
					<xs:attribute name="condition" type="xs:string" use="optional"/>
					<xs:attribute name="insertmode" type="xs:boolean" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:group name="aspnetRendererGroup">
		<xs:choice>
			<xs:element name="field">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="xs:string"/>
					<xs:attribute name="format" use="optional" type="xs:string"/>
					<xs:attribute name="lookup" use="optional" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="list" type="baseListType"/>
			<xs:element name="expression">
				<xs:complexType>
					<xs:group ref="expressionGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="linkbutton">
				<xs:complexType>
					<xs:attribute name="caption" type="xs:string" use="required"/>
					<xs:attribute name="command" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="link">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:group ref="expressionGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="caption" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:group ref="aspnetRendererGroup" minOccurs="1" maxOccurs="unbounded"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="url" type="xs:string" use="optional"/>
					<xs:attribute name="caption" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="googlechart">
				<xs:complexType>
					<xs:group ref="googlechartGroup" minOccurs="1"  maxOccurs="unbounded"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="mschart">
				<xs:complexType>
					<xs:group ref="mschartGroup" minOccurs="1"  maxOccurs="unbounded"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	
	<xs:group name="formFieldEditorGroup">
		<xs:choice>
			<xs:element name="textbox">
				<xs:complexType>
				</xs:complexType>
			</xs:element>
			<xs:element name="textarea">
				<xs:complexType>
					<xs:attribute name="rows" type="xs:integer" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="checkbox">
				<xs:complexType>
				</xs:complexType>
			</xs:element>			
			<xs:element name="dropdownlist">
				<xs:complexType>
					<xs:attribute name="lookup" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="optional"/>
					<xs:attribute name="text" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="checkboxlist">
				<xs:complexType>
					<xs:choice>
						<xs:element name="relation">
							<xs:complexType>
								<xs:attribute name="sourcename" use="required" type="xs:string"/>
								<xs:attribute name="left" use="required" type="xs:string"/>
								<xs:attribute name="right" use="required" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute name="lookup" type="xs:string" use="required"/>
					<xs:attribute name="id" type="xs:string" use="optional"/>
					<!--xs:attribute name="value" type="xs:string" use="optional"/>
					<xs:attribute name="text" type="xs:string" use="optional"/-->
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:group name="formFieldValidatorGroup">
		<xs:choice>
			<xs:element name="required" type="xs:string"/>
			<xs:element name="regex" type="xs:string" />
		</xs:choice>
	</xs:group>

	<xs:complexType name="formFieldType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="editor" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="formFieldEditorGroup"/>
						<xs:element name="validators" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:group ref="formFieldValidatorGroup"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="renderer" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="aspnetRendererGroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="caption" type="xs:string" use="optional"/>
		<xs:attribute name="format" use="optional" type="xs:string"/>
		<xs:attribute name="lookup" use="optional" type="xs:string"/>
		<xs:attribute name="view" type="xs:boolean" use="optional"/>
		<xs:attribute name="edit" type="xs:boolean" use="optional"/>
		<xs:attribute name="add" type="xs:boolean" use="optional"/>
	</xs:complexType>

	<xs:simpleType name="formFieldLayoutType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="vertical"/>
			<xs:enumeration value="horizontal"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="formFieldGroup">
		<xs:choice>
			<xs:element name="field">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="formFieldType">
							<xs:attribute name="layout" use="optional" type="formFieldLayoutType"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:element name="views">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="viewGroup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="formActionNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="inserted"/>
			<xs:enumeration value="deleted"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="listActionNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="inserting"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="expressionGroup">
		<xs:choice>
			<xs:element name="route">
				<xs:complexType>
					<xs:group ref="expressionGroup" minOccurs="0" maxOccurs="1"/>
					<xs:attribute name="name" use="required" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pagecontext">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="request">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="format">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="expressionGroup"/>
					</xs:sequence>
					<xs:attribute name="str" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="get">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="lookup">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:group ref="expressionGroup"/>
					</xs:choice>
					<xs:attribute name="service" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dictionary">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="entry">
							<xs:complexType>
								<xs:group ref="expressionGroup" minOccurs="1" maxOccurs="1"/>
								<xs:attribute name="key" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:group name="actionOperationGroup">
		<xs:choice>
			<xs:element name="redirect">
				<xs:complexType>
					<xs:group ref="expressionGroup"/>
					<xs:attribute name="url" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="set">
				<xs:complexType>
					<xs:group ref="expressionGroup" minOccurs="1" maxOccurs="1"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	
	<xs:element name="form">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				
				<xs:element name="datasources" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:group ref="datasourceGroup" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- actions -->
				<xs:element name="action" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:group ref="actionOperationGroup"/>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="formActionNameType"/>
					</xs:complexType>
				</xs:element>
				<!-- fields -->
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="formFieldGroup" maxOccurs="unbounded"/>
				</xs:sequence>
				<!-- buttons -->
				<xs:element ref="buttons" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="caption" type="xs:string" use="required"/>
			<xs:attribute name="update-panel" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="buttons">
		<xs:complexType>
			<xs:group ref="aspnetRendererGroup" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="view" type="xs:boolean" use="optional"/>
			<xs:attribute name="edit" type="xs:boolean" use="optional"/>
			<xs:attribute name="add" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>


	<xs:group name="listFieldEditor">
		<xs:choice>
			<xs:group ref="formFieldEditorGroup"/>
		</xs:choice>
	</xs:group>

	<xs:complexType name="baseListType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="baseListElemsGroup"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="edit" type="xs:boolean" use="optional"/>
		<xs:attribute name="add" type="xs:boolean" use="optional"/>
		<xs:attribute name="datasource" type="xs:string" use="optional"/>
	</xs:complexType>

	<xs:group name="baseListElemsGroup">
		<xs:choice>
			<!-- actions -->
			<xs:element name="action" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="actionOperationGroup"/>
					</xs:sequence>
					<xs:attribute name="name" use="required" type="listActionNameType"/>
				</xs:complexType>
			</xs:element>
			<!-- fields -->
			<xs:element name="field" minOccurs="0" maxOccurs="unbounded" >
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="formFieldType">
							<xs:attribute name="sort" type="xs:boolean" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>		
	</xs:group>
	
	<xs:element name="list">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="baseListType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="datasources" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence minOccurs="1" maxOccurs="unbounded">
									<xs:group ref="datasourceGroup" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:group ref="baseListElemsGroup"/>
					</xs:sequence>
					<xs:attribute name="update-panel" type="xs:boolean" use="optional"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="caption" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="baseChartType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="data" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="provider" use="required" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dataset" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType mixed="true">
					<xs:attribute name="color" type="xs:string" use="optional"/>
					<xs:attribute name="legend" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="label" minOccurs="0" maxOccurs="1">
				<xs:complexType mixed="true">
					<xs:attribute name="lookup" use="optional" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="width" use="required" type="xs:integer"/>
		<xs:attribute name="height" use="required" type="xs:integer"/>
		<xs:attribute name="title" use="optional" type="xs:string"/>
	</xs:complexType>

	<xs:simpleType name="chartBasicBarTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="stacked"/>
			<xs:enumeration value="grouped"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="chartBasicPieTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="3d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="chartBasicBarOrientationEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="vertical"/>
			<xs:enumeration value="horizontal"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="chartBasicBarType">
		<xs:complexContent>
			<xs:extension base="baseChartType">
				<xs:attribute name="type" type="chartBasicBarTypeEnum" use="optional"/>
				<xs:attribute name="orientation" type="chartBasicBarOrientationEnum" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="chartBasicPieType">
		<xs:complexContent>
			<xs:extension base="baseChartType">
				<xs:attribute name="type" type="chartBasicPieTypeEnum" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:group name="googlechartGroup">
		<xs:choice>
			<xs:element name="bar" type="chartBasicBarType"/>
			<xs:element name="pie" type="chartBasicPieType"/>
			<xs:element name="line" type="baseChartType"/>
		</xs:choice>
	</xs:group>

	<xs:group name="mschartGroup">
		<xs:choice>
			<xs:element name="bar" type="chartBasicBarType"/>
			<xs:element name="pie" type="chartBasicPieType"/>
			<xs:element name="line" type="baseChartType"/>
		</xs:choice>
	</xs:group>
		
</xs:schema>
