shared/schemas/NRecoWebLayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:schemas-nreco:nreco:web:layout:v1" 
			xmlns="urn:schemas-nreco:nreco:web:layout:v1" 
			elementFormDefault="qualified"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:vs="http://schemas.microsoft.com/Visual-Studio-Intellisense">

	<xs:group name="viewGroup">
		<xs:choice>
			<xs:element ref="form" />
			<xs:element ref="list" />
		</xs:choice>
	</xs:group>

	<xs:group name="datasourceGroup">
		<xs:choice>
			<xs:element name="dalc">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="conditon" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="sourcename" type="xs:string" use="required"/>
					<xs:attribute name="selectsourcename" type="xs:string" use="optional"/>
					<xs:attribute name="condition" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:group name="formFieldRendererGroup">
		<xs:choice>
			<xs:element name="list" type="baseListType"/>
		</xs:choice>
	</xs:group>
	
	<xs:group name="formFieldEditorGroup">
		<xs:choice>
			<xs:element name="textbox">
				<xs:complexType>
				</xs:complexType>
			</xs:element>
			<xs:element name="textarea">
				<xs:complexType>
					<xs:attribute name="rows" type="xs:integer" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="checkbox">
				<xs:complexType>
				</xs:complexType>
			</xs:element>			
			<xs:element name="dropdownlist">
				<xs:complexType>
					<xs:attribute name="lookup" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="optional"/>
					<xs:attribute name="text" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:group name="formFieldValidatorGroup">
		<xs:choice>
			<xs:element name="required" type="xs:string"/>
			<xs:element name="regex" type="xs:string" />
		</xs:choice>
	</xs:group>
	
	<xs:group name="formFieldGroup">
		<xs:choice>
			<xs:element name="field">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="editor" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:group ref="formFieldEditorGroup"/>
									<xs:element name="validators" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence minOccurs="0" maxOccurs="unbounded">
												<xs:group ref="formFieldValidatorGroup"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="renderer" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:group ref="formFieldRendererGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="name" type="xs:string" use="optional"/>
					<xs:attribute name="caption" type="xs:string" use="required"/>
					<xs:attribute name="format" use="optional" type="xs:string"/>
					<xs:attribute name="lookup" use="optional" type="xs:string"/>
					<xs:attribute name="view" type="xs:boolean" use="optional"/>
					<xs:attribute name="edit" type="xs:boolean" use="optional"/>
					<xs:attribute name="add" type="xs:boolean" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:element name="views">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="viewGroup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="formActionNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="inserted"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="listActionNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="inserting"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="expressionGroup">
		<xs:choice>
			<xs:element name="route">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pagecontext">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="request">
				<xs:complexType>
					<xs:attribute name="name" use="required" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="format">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="expressionGroup"/>
					</xs:sequence>
					<xs:attribute name="str" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="get">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="lookup">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:group ref="expressionGroup"/>
					</xs:choice>
					<xs:attribute name="service" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:group name="actionOperationGroup">
		<xs:choice>
			<xs:element name="redirect">
				<xs:complexType>
					<xs:group ref="expressionGroup"/>
					<xs:attribute name="url" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="set">
				<xs:complexType>
					<xs:group ref="expressionGroup" minOccurs="1" maxOccurs="1"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	
	<xs:element name="form">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				
				<xs:element name="datasources" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:group ref="datasourceGroup" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- actions -->
				<xs:element name="action" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:group ref="actionOperationGroup"/>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="formActionNameType"/>
					</xs:complexType>
				</xs:element>
				<!-- fields -->
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="formFieldGroup" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="caption" type="xs:string" use="required"/>
			<xs:attribute name="update-panel" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:group name="listFieldEditor">
		<xs:choice>
			<xs:group ref="formFieldEditorGroup"/>
		</xs:choice>
	</xs:group>

	<xs:group name="listFieldRenderer">
		<xs:choice>
			<xs:element name="linkbutton">
				<xs:complexType>
					<xs:attribute name="caption" type="xs:string" use="required"/>
					<xs:attribute name="command" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="link">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:choice>
									<xs:group ref="expressionGroup"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="url" type="xs:string" use="optional"/>
					<xs:attribute name="caption" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:complexType name="baseListType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="baseListElemsGroup"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="edit" type="xs:boolean" use="optional"/>
		<xs:attribute name="add" type="xs:boolean" use="optional"/>
		<xs:attribute name="datasource" type="xs:string" use="optional"/>
	</xs:complexType>

	<xs:group name="baseListElemsGroup">
		<xs:choice>
			<!-- actions -->
			<xs:element name="action" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="actionOperationGroup"/>
					</xs:sequence>
					<xs:attribute name="name" use="required" type="listActionNameType"/>
				</xs:complexType>
			</xs:element>
			<!-- fields -->
			<xs:element name="field" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="renderer" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:group ref="listFieldRenderer" minOccurs="0" maxOccurs="unbounded"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="editor" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:group ref="listFieldEditor" minOccurs="0" maxOccurs="unbounded"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="caption" use="optional" type="xs:string"/>
					<xs:attribute name="name" use="optional" type="xs:string"/>
					<xs:attribute name="format" use="optional" type="xs:string"/>
					<xs:attribute name="lookup" use="optional" type="xs:string"/>
					<xs:attribute name="sort" type="xs:boolean" use="optional"/>
					<xs:attribute name="view" type="xs:boolean" use="optional"/>
					<xs:attribute name="edit" type="xs:boolean" use="optional"/>
					<xs:attribute name="add" type="xs:boolean" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>		
	</xs:group>
	
	<xs:element name="list">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="baseListType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="datasources" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence minOccurs="1" maxOccurs="unbounded">
									<xs:group ref="datasourceGroup" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:group ref="baseListElemsGroup"/>
					</xs:sequence>
					<xs:attribute name="update-panel" type="xs:boolean" use="optional"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="caption" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>
